<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-4 developer">
				<div class="footer-position">
					<span class="footer-image">
						<%= image_tag("oshim.jpg", class: "img-responsive img-circle img-thumbnail") %>
					</span>
					<p>
						Mohi Uddin Chowdhury <br> <br>
						Ruby on Rails Developer <br>
						Full Stack Web Developer <br>
						I am a Ruby & Ruby On Rails Bootcamp graduate and a self-taught developer.
						I write clean code and have a good understanding of Gang of Four 23 Design Patterns & follow SOLID design principles. <br>

					</p>
				</div>
			</div>
			<div class="col-md-5 footer-links">
				<ul>
					<li>
						<%= link_to projects_path do %>
							View my all <br>
							Ruby on Rails Projects <br>
						<% end %>
					</li>
					<li>
						<%= link_to new_contact_path do %>
							Send me Messages <br>
							Contact With Me <br>
						<% end %>
					</li>
					<li>
						<%= link_to root_path do %>
							My Bitbucket Repository <br>
							Only for Employeer <br>
						<% end %>
					</li>
				</ul>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>
</div>
<div id="copyright">
	&copy CodeWithMahi, 2021. All rights reserved
</div>
