
<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<span class="hire-person">
			<%= image_tag("oshim.jpg", class: "img-circle img-responsive img-thumbnail") %>
		</span>
		<p class="text-center" style="font-family: 'Cuprum', sans-serif;">Ready for Job</p>
		<h1 class="text-center hire-me">Hire Me</h1>

	</div>
</div>
<div class="row">
	<div class="col-md-5 hires">
		<h3 class="hire-heading well text-center">Services I Provide</h3>
		<ul class="well service-expertise">
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> Websites</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> Web Applications</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> UI Design</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> UX Design</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> PSD to HTML conversion</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> Strip</li>
		</ul>
	</div>
	<div class="col-md-2">

		
	</div>
	<div class="col-md-5 hires">
		<h3 class="hire-heading well text-center">My Expertises to Hire</h3>
		<ul class="well service-expertise">
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> HTML</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> CSS</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> jQuery</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> JavaScript</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> Ruby on Rails</li>
			<li> <i class="fa fa-cog fa-spin fa-1x fa-fw margin-bottom"></i> Adobe Photoshop</li>
		</ul>
	</div>
</div>

