<div class="row">
	<div class="col-md-6 col-md-offset-3" style="margin-top: 30px;">
		
		<div id="programming-skills" class="well">
			<h4 class="skills-heading"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw margin-bottom"></i> Programming Skills</h4>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 100%;">
			    <span class="skill-text">HTML / CSS</span>
			  </div>
			</div>
			<div class="progress">
			  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
			    <span class="skill-text">jQuery</span>
			  </div>
			</div>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
			    <span class="skill-text">Ruby on Rails</span>
			  </div>
			</div>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
			    <span class="skill-text">MySql</span>
			  </div>
			</div>

			<div class="progress">
			  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 95%;">
			    <span class="skill-text">Oracle</span>
			  </div>
			</div>
		</div>

		<div id="designing-skills" class="well">
			<h4 class="skills-heading"><i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw margin-bottom"></i> Designing Skills</h4>
			<div class="progress">
			  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: 80%;">
			    <span class="skill-text">Photoshop</span>
			  </div>
			</div>
		</div>

	</div>
</div>


<script>
			$('#programming-skills').addClass('animated rollIn');

			$("#programming-skills").hover(function(){
			    $(this).removeClass('rollIn');
			    $(this).toggleClass('pulse');
		    }, function(){
		    	$(this).removeClass('rollIn');
			    $(this).toggleClass('pulse');
			});


			//--------------------------------------------------------------------------------------------
			$('#designing-skills').addClass('animated rollIn');			

			$("#designing-skills").hover(function(){
			    $(this).removeClass('rollIn');
			    $(this).toggleClass('pulse');
		    }, function(){
		    	$(this).removeClass('rollIn');
			    $(this).toggleClass('pulse');
			});

</script>