<div class="row">

	<div class="col-md-6">
		<div class="well" id="contact-form">
			<h4 class="skills-heading text-center">CONTACT ME</h4>
			<p class="text-center">Send your queries</p>
			<%= render "form" %>	
		</div>
	</div>
	
	<div class="col-md-3">
		
	</div>

	<div class="col-md-3">
		<div class="well" id="contact-info">
			<h4 class="text-center skills-heading">Contact Info</h4>
			<div>
				<ul id="contact-social-icons">

					<li>
						<div class="social-link">
							<span class="social-icon"><a href="https://www.facebook.com/mahi.chy.10" target="_blank"><i class="fa fa-facebook"></i></a></span>
							<span class="social-text">Facebook</span>
						</div>
					</li>
					<li>
						<div class="social-link">
							<span class="social-link">
							    <span class="social-icon"><a href="https://www.linkedin.com/in/mahi-chowdhury-667753208/" target="_blank"><i class="fa fa-linkedin"></i></a></span>
								<span class="social-text">Linkedin</span>
							</span>
						</div>
					</li>


					<li>
						<div class="social-link">
							<span class="social-link">
							    <span class="social-icon"><a href="" target="_blank"><i class="fa fa-twitter"></i></a></span>
								<span class="social-text">Twitter</span>
							</span>
						</div>
					</li>
					<li>
						<div class="social-link">
							<span class="social-link">
							    <span class="social-icon"><a href="https://github.com/mahichy" target="_blank"><i class="fa fa-github"></i></a></span>
								<span class="social-text">Github</span>
							</span>
						</div>
					</li>
					<li>
						<div class="social-link">
							<span class="social-link">
							    <span class="social-icon"><a href="" target="_blank"><i class="fa fa-google-plus"></i></a></span>
								<span class="social-text">Google+</span>
							</span>
						</div>
					</li>
					<li>
						<div class="social-link">
							<span class="social-link">
							    <span class="social-icon"><a href="mailto:oshimchy@gmail.com?Subject=Hi, contacting from your website"><i class="fa fa-envelope-o"></i></a></span>
								<span class="social-text">oshimchy@gmail.com</span>
							</span>
						</div>
					</li>



				</ul>
			</div>
		</div>
	</div>

</div>


<script>
	$(document).ready(function(){
		$('#contact-form').addClass('animated rollIn');	

		$("#contact-form").hover(function(){
		    $(this).removeClass('rollIn');
		    $(this).toggleClass('pulse');
	    }, function(){
	    	$(this).removeClass('rollIn');
		    $(this).toggleClass('pulse');
		});
	});
</script>


